*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: sans-serif;
}
html {
        font-size: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(./main.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border-radius: 7px;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 15px;
}
.logo {
    width: 60%;
    display: block;
    margin: 0 auto;
}
.title {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-top: 15px;
}
.name, .number, .year, .department, .first_preference, .second_preference {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 49%;
}
.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.name label, .number label, .year label, .department label, .first_preference label, .second_preference label {
    color: white;
    font-size: 1.7rem;
}
.email {
    width: 100%;
    display: block;
}
.email label{
    color: white;
    font-size: 1.7rem;
    width: 100%;
    display: block;

}
.email input{
    font-size: 1.7rem;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color:white
    color black;
}
.name input, .number input,  .year select, .department select, .first_preference select, .second_preference select {
    font-size: 1.7rem;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color:white
    color black;
}
.register {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgba(35, 101, 194, 0.6);
    color: white;
    margin: 7px 0;
    
}
.register:hover {
    background-color: rgba(35, 101, 194, 1);
    cursor: pointer;
    transition: 300ms;
   
}
@media (max-width: 600px) {
    .title {
        font-size: 2rem;
    }
    .container{
        height: 100vh;
    }
    .logo{
        min-width: 280px;
    }
    .name label, .email label .number label, .year label, .department label, .first_preference label, .second_preference label {
        font-size: 1.5rem;
    }
    .name, .number, .email , .year, .department, .first_preference, .second_preference {
        margin: 7px 0;
    }
}

@media (max-width: 430px) {
    .title {
        font-size: 1.8rem;
    }
    .logo{
        min-width: 200px;
    }
    .name, .number, .email , .year, .department, .first_preference, .second_preference {
        width: 100%;
        margin: 7px 0;
    }
    .all{
        overflow: scroll;
        max-height: 350px;
    }
    .name label, .number label, .email label , .year label, .department label, .first_preference label, .second_preference label {
        font-size: 1.3rem;
    }
    .name input, .number input, .email input ,  .year select, .department select, .first_preference select, .second_preference select {
        padding: 12px;

        }
}